[Unit]
Description=Raspberry Pi Camera RTSP Stream
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/rasp-cam.sh
Restart=always
RestartSec=2
KillMode=control-group
TimeoutStopSec=5

# Optional but recommended
Nice=-5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
